<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #518abd">
  <a  class="navbar-brand " style="color : white " href="/profile">Tise-O-Gramme</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">


    <ul class="navbar-nav mr-auto">
    {% if app.session.get('profile') != false %}
     <li class="nav-item active">
        <a class="nav-link" href="{{ path('profile_drink') }}">Mon profil</a>
      </li>
      {% endif %}
    {% if app.user != true %}
            <li class="nav-item active">
        <a class="nav-link" href="/login">Login</a>
      </li>
    {% endif %}  
         {% if app.user %}
      <li class="nav-item active">
        <a class="nav-link" href="/admin/drink_type">Alcools</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Calculer mon alcoolémie</a>
      </li>
      <li class="nav-item" id="logout">
         <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
      </li class="nav-item"> 
    </ul>
    {% endif %}

  </div>
</nav>

        {% block body %}

        {% endblock %}

     <footer>
        <p>Créer par Guillaume Sotgiu</p>
        </footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
    </body>

</html>
