<form method="post" action="{{ path('current_drink_delete', {'id': 0}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ 0) }}">
    <button class="btn  btn-danger">Supprimer</button>
</form>