{{ form_start(form) }}

        {{ form_row(form.drink_type)}}
        {{ form_row(form.cl) }}
        {{ form_row(form.degree) }}
        {{ form_row(form.eat) }}
        <div id="dateF">
        {{ form_row(form.date) }}
        </div>
<button class="btn btn-primary">{{ button_label|default('modifier') }}</button>
{{ form_end(form) }}

<script>
document.getElementById("dateF").style="display:none"
</script>