{{ form_start(form) }}
    {{ form_row(form.drink_type)}}
    {{ form_row(form.degree)}}
    {{ form_row(form.cl)}}
    {{ form_row(form.date)}}
    {{ form_row(form.eat)}}
    <button class="btn btn-primary">{{ button_label|default('Ajouter un verre') }}</button>
{{ form_end(form) }}