{{ form_start(form) }}
    <div class="profile_form">
     {{ form_row(form.weight)}}

     {{ form_row(form.sex) }}
     <button class="btn  btn-primary">{{ button_label|default('Créer') }}</button>
    </div>
{{ form_end(form) }}
