{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
    <div class="cointainer profile_form">
        <div class="row">
            <h1>Edit Profile</h1>

            {{ include('profile/_form.html.twig', {'button_label': 'Modifier'}) }}

            <a href="{{ path('profile_drink') }}"><button class="btn btn-info">Retour à mon test d'alcoolémie</button></a>
        </div>
    </div>
{% endblock %}
