{% extends 'base.html.twig' %}

{% block title %}Session End{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Aucune session n'est ouverte pour le moment</h1>
            <a href="{{ path('profile_new') }}"><button class="btn btn-info">Créer un profil</button></a>
        </div>
    </div>        
{% endblock %}