{% extends 'base.html.twig' %}
{% block title %}My Drink{% endblock %}

{% block body %}
<div class="container">
  <div class="row justify-content-md-center">
  

<h1>Mes verres</h1>
{% set number =  0 %}
   <div class="col-sm">
   {{ include('profile/_form_drink.html.twig') }}
      {% if profileCurrentDrink == false %}
        <a href="{{ path('profile_edit') }}"><button class="btn btn-warning">Modifier mon profil</button></a>
        <a href="{{ path('end_session') }}"><button class="btn btn-danger">Quitter la session</button></a>
      {% endif %}  
   </div>
   {% if profileCurrentDrink != false %}
      <div class="col-sm">
  <table class="table">
        <thead>
            <tr>
                <th class="responsif">Verre n°</th>
                <th>Alcool</th>
                <th>Cl</th>
                <th class="responsif">Degrés</th>
                <th class="responsif">Heure</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        {% set nbSess = - 1 %}
{% for profileCurrentDrinks in profileCurrentDrink %}
    {% set toto = number + 1 %}

    {% set sess = nbSess + 1  %}

        <tbody>
            <tr>

                <th class="responsif">{{ toto }}</th>
                {% if profileCurrentDrinks.drinkType != null %}
                <th>{{profileCurrentDrinks.drinkType.name}}</th>
                {% endif %}  
                {% if profileCurrentDrinks.drinkType == null %}
                <th>Sans nom</th>
                {% endif %}  
                <th>{{profileCurrentDrinks.cl}}</th>
                <th class="responsif">{{profileCurrentDrinks.degree * 100}}</th>
                <th class="responsif">{{profileCurrentDrinks.createdAt | date('H:i') }}
                <th><a href="{{ path('mydrink_edit', {'id': sess }) }}"><button class="btn btn-warning">Modifier</button></a></th>
                <th><a href="{{ path('current_drink_delete', {'id': sess }) }}"><button class="btn btn-danger">Supprimer</button></a></th>
                {# <th><a href="{{ path('mydrink_delete', {'id': profileCurrentDrinks.id}) }}"><button class="btn btn-danger">Supprimer</button></a></th> #}
            </tr>    
    {% set number = number + 1 %}
    {% set nbSess = nbSess + 1 %}
        </tbody>
    {# {{profileCurrentDrinks}} #}
 {% endfor %}
     </table>
      <a href="{{ path('profile_edit') }}"><button class="btn btn-warning">Modifier mon profil</button></a>
      <a href="{{ path('end_session') }}"><button class="btn btn-danger">Quitter la session</button></a>
   </div>
   {% endif %}
</div>


    {% if profileCurrentDrink != false %}
    <p class="prevention">Attention certains médicaments/substances ou états de santés sont suscéptibles d'augmenter les effets de l'alcool. Cette simulation ce veux d'être le plus précis possible mais ne garantie en aucun un résultat 100% fiables. L'élimination de l'alcool dépend de beaucoup de facteur (ex: le métabolisme, la vitesse d'élimination de certains organes, le pourcentage d'eau dans le corps etc...)</p>
    
       
        {# {% for tabGDs in tabGD[0]  %}
          {{tabGDs}}
        {% endfor %} #}
        {# "{{ asset('/build/images/bouton-verifie.svg') }}" #}
        <div class="container resultGram">
  <div class="row">
    <div class="col-sm headResult">
    <h2 class="titleResult">Éstimation de votre alcoolémie actuel</h2>
         
    </div>
  </div>
    <div class="row resultContent">
    <div class="col-sm-4">
      <p class="gpad"><span id="g">{{totalG}}</span> <img id="imgGram"src="{{ asset('/build/images/bouton-verifie.svg') }}" width="15%"></p>
      <p class="colorResult">d'alcool au litre de sang</p>
      <p id="attention!"></p>
    
    </div>
      <div class="col-sm-8">
         <div class="infoResult">
         {% if tabGD[6] != false %}
   <p>Vous pourrez reprendre le volant à <span class="hour">{{tabGD[1][tabGD[6]] | date('H:i')}}</span></p>
        {% endif %}
           {% if tabGD[5] != false %}
  <p>Si vous êtes en période probatoire vous pourrez reprendre le volant à <span class="hour">{{tabGD[1][tabGD[5]] | date('H:i')}}</span> </p>
    {% endif %}
           {% if tabGD[5] == false %}
         <p class="driveOK">D'après cette éstimation, vous êtes en état de reprendre le volant quand bon vous semble. <p>
            {% endif %}
         <p>Votre pic d'alcoolémie éstimé est de : <span id="picG">{{tabGD[0][tabGD[2]]}}</span><span class="gl">g/l</span>  à <span class="hour">{{tabGD[1][tabGD[2]] | date('H:i')}}</span></p>
         </div>
      </div>
    </div>
     <div class="row">
      <div class="col-sm law">
        <h3><img id="imgGram"src="{{ asset('/build/images/hammer.svg') }}" width="15%" id="hammer">Ce que vous encourez en prenant le volant</h3>
      </div>
   </div>
    <div class="row">
      <div class="col-sm contentLaw">
       <p class="lawChange">Selon cette éstimation actuellement vous pouvez légalement reprendre le volant</p>
         <div class="textLaw">
            <ul class="law02">
               <li>Retrait de 6 points sur le permis de conduire, <br> (la 1ʳᵉ année du permis probatoire, si le conducteur perd son permis pour solde de points nul, il doit repasser l’examen du permis de conduire, code et conduite.)  </li>
               <li>Amende forfaitaire de 135 euros- Immobilisation du véhicule </li>
            </ul>
            <ul class="law05">
              <li>Retrait de 6 points sur le permis de conduire </li>
              <li>Amende forfaitaire de 135 euros</li>
              <li>Jusqu’à 4500 euros d'amende </li>
              <li>Immobilisation du véhicule</li>
              <li>Suspension du permis (jusqu’à 3 ans)</li>
              
            </ul>
            <ul class="law08">
              <li>2 ans d’emprisonnement (cf article L234-1 code de la route) </li>
              <li>Retrait de 6 points sur le permis de conduire </li>
              <li>Jusqu’à 4500 euros d'amende </li>
              <li>Immobilisation du véhicule (sauf si un passager est en état de conduire)</li>
              <li>Annulation du permis (jusqu’à 3 ans) </li>
              <li>Interdiction de conduire un véhicule non équipé d’un dispositif homologué d’éthylotest anti-démarrage (EAD), pour une durée de 5 ans au maximum. La violation de cette interdiction constitue un délit, puni de 2 ans d’emprisonnement et de 4 500 € d’amende </li>
            </ul>
      </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm backPrev">
      <p class="prevention">Attention, si votre taux est bas mais que vous avez pris récemment un verre, il est suscéptible d'augmenter très vite!</p>
      </div>
   </div>
</div>
       
<br>
        {# {{tabGD[2]}} #}
   
 
    
{# 
 <p>Taux d'alcool dans le sang : {{totalG}}g/L</p> #}



 <div>

<div class="container">
  <div class="row graph">
  <canvas id="line-chart"></canvas>
  <div class="col-sm">
<p class="legendred"><span id='rectangler'></span>Peine maximal</p> 
</div> 
  <div class="col-sm">
<p class="legendblue"><span id='rectangleo'></span>Limite légal</p> 
</div> 
  <div class="col-sm">
<p class="legendgreen"><span id='rectangleg'></span>Limite légal permis probatoire</p> 
</div>

    </div>
  </div>

  <div class="row titleIRT">
    <h3>Éstimation de votre alcoolémie dans le temps</h3>
  </div>
    <div class="row irt">
    <div class="col-sm-6">
   <div id="container" style="width: 80%; height:400px;"> </div>

  </div>
  <div class="col-sm-6">
    <div class="slidecontainer">
  <span id="date"></span><input type="range" min="0" max={{tabGD[8]}} value="0" class="slider" id="myRange">
  <br>
    <div class="gramIRT">
      <span id="glIRT"> <span id="gram"></span>g/l <img id="imgGramIRT"src="{{ asset('/build/images/bouton-verifie.svg') }}" width="15%"></span>
    </div>
           <p> <img id="imgGram"src="{{ asset('/build/images/hammer.svg') }}" width="15%" id="hammer"><p><span class="lawChangeIRT">Selon cette éstimation actuellement vous pouvez légalement reprendre le volant</span></p></p>
         <div class="textLawIRT">
            <ul class="law02IRT">
               <li>Retrait de 6 points sur le permis de conduire, <br> (la 1ʳᵉ année du permis probatoire, si le conducteur perd son permis pour solde de points nul, il doit repasser l’examen du permis de conduire, code et conduite.)  </li>
               <li>Amende forfaitaire de 135 euros- Immobilisation du véhicule </li>
            </ul>
            <ul class="law05IRT">
              <li>Retrait de 6 points sur le permis de conduire </li>
              <li>Amende forfaitaire de 135 euros</li>
              <li>Jusqu’à 4500 euros d'amende </li>
              <li>Immobilisation du véhicule</li>
              <li>Suspension du permis (jusqu’à 3 ans)</li>
              
            </ul>
            <ul class="law08IRT">
              <li>2 ans d’emprisonnement (cf article L234-1 code de la route) </li>
              <li>Retrait de 6 points sur le permis de conduire </li>
              <li>Jusqu’à 4500 euros d'amende </li>
              <li>Immobilisation du véhicule (sauf si un passager est en état de conduire)</li>
              <li>Annulation du permis (jusqu’à 3 ans) </li>
              <li>Interdiction de conduire un véhicule non équipé d’un dispositif homologué d’éthylotest anti-démarrage (EAD), pour une durée de 5 ans au maximum. La violation de cette interdiction constitue un délit, puni de 2 ans d’emprisonnement et de 4 500 € d’amende </li>
            </ul>
      </div>
</div>
  </div>

    </div>
      </div>
      


   
    {% endif %}
   {# <div id="container"></div> #}
 
</div>
  </div>
 
  
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="https://cdn.anychart.com/js/latest/anychart-bundle.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-linear-gauge.min.js"></script>


  <script>
 let imgGram = document.getElementById("imgGram");
 let imgGramIRT = document.getElementById("imgGramIRT");
    // var test = profileCurrentDrinks;
    // console.log(test)
function ifExist(a){
    if(a == null){
      return null
    }
    else{
      return a.textContent
    }
}
let picG = document.getElementById("picG");
let picGContent = ifExist(picG);


let gl = document.querySelector(".gl");

if(picGContent>0.2 && picGContent<0.5){
  picG.style="color:#518abd"
  gl.style="color:#518abd"
}
else if(picGContent>=0.5 && picGContent<0.8){
   picG.style="color:orange"
    gl.style="color:orange"
}
else if(picGContent>=0.8 ){
   picG.style="color:red"
    gl.style="color:red"
}
let url = document.location.href;
let indexUrl = url.indexOf('profile');

let beginUrl = url.substring(0 , indexUrl)
let drinkUrl = beginUrl + 'profile/drink_type/json/'

var select = document.getElementById("current_drink_drink_type");
var oneselect = document.getElementById("current_drink_drink_type").value;
let myInput = document.getElementById('current_drink_degree');

function doOnce(url,id,input){
  axios.get(url + id).then(res => {
    input.value = res.data.degree*100
    })
  }
doOnce(drinkUrl,oneselect,myInput);

select.addEventListener("change",function(){
  axios.get(drinkUrl + this.value).then(res => {
    document.getElementById('current_drink_degree').value =res.data.degree*100
    });
  })

url = url + '/json';

let gramrt = document.getElementById('g');
let colorResult = document.querySelector('.colorResult')

let tabGram= '{{tabGD[3]}}';
let tabDate = '{{tabGD[4]}}';

tabGram = JSON.parse(tabGram.replace(/&quot;/g,'"'));
tabDate = JSON.parse(tabDate.replace(/&quot;/g,'"'));

let headResult = document.querySelector(".headResult")
let resultContent = document.querySelector(".resultContent")
let titleResult = document.querySelector(".titleResult")
let resultGram = document.querySelector(".resultGram")
let attention= document.getElementById("attention!")
let law = document.querySelector(".law")
let contentLaw = document.querySelector(".contentLaw")
let lawChange = document.querySelector(".lawChange")
let law02 = document.querySelector(".law02")
let law05 =document.querySelector(".law05")
let law08 =document.querySelector(".law08")

//recup g/l all second 
this.interval = setInterval(() => {
        axios.get(url).then(res => { gramrt.innerHTML=res.data.total+" g" 
        if(res.data.total>=0.2 && res.data.total<0.5){
            gramrt.style="color:#518abd"
            colorResult.style="color:#518abd"
            imgGram.src="{{ asset('/build/images/exclamation.svg') }}"
            headResult.style="background-color:#518abd"
            law.style="border-top:solid 2px #518abd; color:#518abd"
            contentLaw.style="border-bottom:solid 2px #518abd ; color:#518abd"
            lawChange.innerHTML="Si vous êtes en période probatoire vous risquez:"
            law02.style="display:block"
            law05.style="display:none"
            law08.style="display:none"
           }
         else if(res.data.total>=0.5 && res.data.total<0.8){
            gramrt.style="color:orange"
            colorResult.style="color:orange"
            imgGram.src="{{ asset('/build/images/attentionO.svg') }}"
            headResult.style="background-color:orange"
            law.style="border-top:solid 2px orange; color:orange"
            contentLaw.style="border-bottom:solid 2px orange ; color:orange"
            lawChange.innerHTML="Vous risquez:"
            law02.style="display:none"
            law05.style="display:block"
            law08.style="display:none"

         }  
         else if(res.data.total>=0.8 && res.data.total<4){
            gramrt.style="color:red"
            colorResult.style="color:red"
            headResult.style="background-color:red"
            imgGram.src="{{ asset('/build/images/attentionR.svg') }}"
            law.style="border-top:solid 2px red; color:red"
            contentLaw.style="border-bottom:solid 2px red ; color:red"
            lawChange.innerHTML="Vous risquez:"
            law02.style="display:none"
            law05.style="display:none"
            law08.style="display:block"
         }
          else if(res.data.total>=4){
            gramrt.style="color:red"
            colorResult.style="color:red"
            headResult.style="background-color:yellow"
            imgGram.src="{{ asset('/build/images/30325.svg') }}"
            resultContent.style=" background-color: yellow"
            titleResult.style="color:red"
            resultGram.style="border: black solid 2px"
            attention.innerHTML="Danger de mort attention!!! <br> SAMU-15/POMPIER-18"
            attention.style="text-align:center ; color:red"
            law.style="border-top:solid 2px red; color:red; background-color:yellow"
            contentLaw.style="border-bottom:solid 2px red ; color:red; background-color:yellow"
            lawChange.innerHTML="Vous risquez:"
            law02.style="display:none"
            law05.style="display:none"
            law08.style="display:block"
         }
        });
    }, 1000 );

 if(tabGram != 0){

  new Chart(document.getElementById("line-chart"), {
    type: 'line',
    data: {
      labels: tabDate,
      
      datasets: [{ 
          data: tabGram,
          label: "Grammage dans le temps",
          borderColor: "#666666",
          fill: false
        }, 
      ]
    },
   options: {
      scales: {
         yAxes: [{
            ticks: {
               beginAtZero: true
            }
         }]
      },
      horizontalLine: [{
         y: 0.8,
         style: 'red'
      },
      {
         y: 0.5,
         style: 'orange'
      },
      {
         y: 0.2,
         style: '#518abd'
      }]
   }

  }
  )
  }
var horizonalLinePlugin = {
   afterDatasetDraw: function(chartInstance) {
      var yScale = chartInstance.scales["y-axis-0"];
      var canvas = chartInstance.chart;
      var ctx = canvas.ctx;
      var index, line, style, width;
      if (chartInstance.options.horizontalLine) {
         for (index = 0; index < chartInstance.options.horizontalLine.length; index++) {
            line = chartInstance.options.horizontalLine[index];
            style = (line.style) ? line.style : "rgba(169,169,169, .6)";
            yValue = (line.y) ? yScale.getPixelForValue(line.y) : 0;
            ctx.lineWidth = (line.width) ? line.width : 3;
            if (yValue) {
               ctx.beginPath();
               ctx.moveTo(chartInstance.chartArea.left, yValue);
               ctx.lineTo(canvas.width, yValue);
               ctx.strokeStyle = style;
               ctx.stroke();
            }
            if (line.text) {
               ctx.fillStyle = style;
               ctx.fillText(line.text, 0, yValue + ctx.lineWidth);
            }
         }
         return;
      }
   }
};

Chart.pluginService.register(horizonalLinePlugin);


var slider = document.getElementById("myRange");
var outputGram = document.getElementById("gram");
var outputDate = document.getElementById("date");
var gramIRT = document.querySelector('.gramIRT');
var glIRL =document.querySelector('.glIRT');
var irt =document.querySelector('.irt')
var titleIRT = document.querySelector('.titleIRT')
// var titleLawirt = document.querySelector('.titleLawirt')
var lawChangeIRT = document.querySelector('.lawChangeIRT')
let law02IRT = document.querySelector('.law02IRT')
let law05IRT = document.querySelector('.law05IRT')
let law08IRT = document.querySelector('.law08IRT')



outputGram.innerHTML = slider.value;
// outputDate.innerHTML = slider.value;
document.getElementById("date").innerHTML = tabDate[0];


anychart.onDocumentReady(function () {
   var dataSet = anychart.data.set([
    {x: "P1", value:0},
  ]);
  
  // Create and return simple linear g

  function drawLinearGauge() {
    var gauge = anychart.gauges.linear();
    
    gauge.bounds(0, 0, "100%", "100%");
    gauge.data(dataSet).padding(10, 0, 30, 0);
    var view = dataSet.mapAs();
    slider.oninput = function() {
      view.set(
      0,                       // get index of clicked
      "value",                            // get parameter to update
      view.get(0, "value") -view.get(0,"value") + tabGram[this.value] // parameter updating
)
  outputGram.innerHTML = tabGram[this.value];
  outputDate.innerHTML = tabDate[this.value];
  if(tabGram[this.value] > 0 && tabGram[this.value]<0.2){
    outputGram.style.color = "#4CAF50"
     glIRT.style="color:#4CAF50"
     gramIRT.style="border:solid 2px #4CAF50"
     irt.style="border:solid 2px #4CAF50"
     titleIRT.style="background-color : #4CAF50"
     imgGramIRT.src="{{ asset('/build/images/bouton-verifie.svg') }}"
    //  titleLawirt.style="color:#4CAF50; border-top:2px solid #4CAF50"
     lawChangeIRT.style="color:#4CAF50"
     lawChangeIRT.innerHTML="Selon cette éstimation actuellement vous pouvez légalement reprendre le volant"
     law02IRT.style="display:none"
     law05IRT.style="diplay:none"
     law08IRT.style="diplay:none"
      multiAxisThermometer 
     .fill('#518abd')
    .stroke('#518abd');

  }
  else if(tabGram[this.value] >= 0.2 && tabGram[this.value]<0.5 ){
     outputGram.style.color = "#518abd"
     glIRT.style="color:#518abd"
     gramIRT.style="border:solid 2px #518abd"
     irt.style="border:solid 2px #518abd"
     titleIRT.style="background-color : #518abd"
     imgGramIRT.src="{{ asset('/build/images/exclamation.svg') }}"
    //  titleLawirt.style="color:#518abd; border-top:2px solid #518abd"
     lawChangeIRT.style="color:#518abd"
     lawChangeIRT.innerHTML="Si vous êtes en période probatoire vous risquez:"
     law02IRT.style="display:block"
     law05IRT.style="diplay:none"
     law08IRT.style="diplay:none"
     multiAxisThermometer 
     .fill('#518abd')
    .stroke('#518abd');
  }
  else if(tabGram[this.value] >= 0.5 && tabGram[this.value]<= 0.8 ){
    outputGram.style.color = "orange"
    glIRT.style="color:orange"
     gramIRT.style="border:solid 2px orange"
     irt.style="border:solid 2px orange"
     titleIRT.style="background-color : orange"
     imgGramIRT.src="{{ asset('/build/images/attentionO.svg') }}"
    //  titleLawirt.style="color:orange; border-top:2px solid orange"
     lawChangeIRT.style="color:orange"
     lawChangeIRT.innerHTML="Vous risquez:"
     law02IRT.style="display:none"
     law05IRT.style="display:block"
     law08IRT.style="display:none"
    multiAxisThermometer 
     .fill('orange')
    .stroke('orange');
  }
    else if(tabGram[this.value] > 0.8  ){
    outputGram.style.color = "red"
     glIRT.style="color:red"
     gramIRT.style="border:solid 2px red"
     irt.style="border:solid 2px red"
     titleIRT.style="background-color : red"
     imgGramIRT.src="{{ asset('/build/images/attentionR.svg') }}"
    //  titleLawirt.style="color:red; border-top:2px solid red"
     lawChangeIRT.style="color:red"
     lawChangeIRT.innerHTML="Vous risquez:"
     law02IRT.style="display:none"
     law05IRT.style="display:none"
     law08IRT.style="display:block"
     multiAxisThermometer 
     .fill('red')
    .stroke('red');
  }
}


      gauge.background({fill: "white 0.2"}).enabled(true);


    gauge
      .tooltip()
      .useHtml(true)
      .format(function () {
        switch (this.pointer.id()) {
          case '0':
            return this.value + '&deg;C';
          case '1':
            return (
              this.value +
              'g/l' +
              ' (' +
              (this.value/2.3).toFixed(2) +
              'm/l AAE)'
            );
          default:
        }
      });

    // Set scale settings
    var scale = gauge.scale();
    scale.minimum(0).maximum(2).ticks({ interval: 0.5 });

    // Set axis and axis settings
    var axis = gauge.axis();
    axis.scale(scale).width('0.5%').offset('-1%');

 

    return gauge;
  }



  // Create gauge with extra axis
  var multiAxisGauge = drawLinearGauge(12);
  var multiAxisThermometer = multiAxisGauge.thermometer(0);
  multiAxisThermometer.name('Thermometer').id('1');
  multiAxisThermometer
    .name('Thermometeree')
    .id('1')
    .fill('#518abd')
    .stroke('#518abd');
  // Add left axis with custom labels
  var axisLeft = multiAxisGauge.axis(0);
  axisLeft.minorTicks(true);
  axisLeft
    .labels()
    .useHtml(true)
    .format(function () {
      if (this.value > 0.2 && this.value<=0.5) {
        return (
          '<span style="color:orange">' + this.value + '&deg;</span>'
        );
      }
	 else if (this.value >= 0.8) {
        return (
          '<span style="color:red">' + this.value + '&deg;</span>'
        );
      }
      else {return (
        '<span style="color: #518abd;">' + this.value + '&deg;</span>'
      );}
    });

  // Add custom right axis with custom labels
  var axisRight = multiAxisGauge.axis(1);
  axisRight.minorTicks(true);
  axisRight
    .labels()
    .useHtml(true)
    .format(function () {
     if (this.value > 0.08 && this.value<=0.218) {
        return (
          '<span style="color:orange">' + this.value + 'mg/l AAE</span>'
        );
      }
	 else if (this.value > 0.347) {
        return (
          '<span style="color:red">' + this.value + 'mg/l AAE</span>'
        );
      }
      else {return (
        '<span style="color: #518abd;">' + this.value + 'mg/l AAE</span>'
      );}
    });
  axisRight.orientation('right').offset('3.5%');

  // Set scale Fahrenheit for right axis
  var Fscale = anychart.scales.linear();
  Fscale.minimum(0).maximum(0.87).ticks({ interval:0.217  });
  axisRight.scale(Fscale);

  // Create table to place thermometers
  var layoutTable = anychart.standalones.table();
  layoutTable
    .hAlign('center')
    .vAlign('middle')
    .useHtml(true)
    .fontSize(16)
    .cellBorder(null);

  // Put thermometers into the layout table
  layoutTable.contents([
    [''],
    [
      '',
     
    ],
    [multiAxisGauge]
  ]);

  // Set height for first row in layout table
  layoutTable.getRow(0).height(0).fontSize(18);
  layoutTable.getRow(1).height(0).fontSize(14);

  // Merge cells in layout table where needed
  layoutTable.getCell(0, 0).colSpan(3);

  // Set container id and initiate drawing
  layoutTable.container('container');
  layoutTable.draw();
});


document.querySelector(".anychart-credits").style.setProperty("background-color", "red", "important");

// if(picG>0.2 && picG<=0.9){
//    picG.style="color:red"
// }

</script>
{% endblock %}


