{% extends 'base.html.twig' %}

{% block title %}Edit MyDrink{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Modifier ma boisson</h1>

            {{ include('profile/_form_drink_edit.html.twig', {'button_label': 'Modifier'}) }}
            <a href="{{ path('current_drink_delete', {'id': app.request.get('id') }) }}"><button class="btn btn-danger"> Supprimer</button></a><a href="{{ path('profile_drink') }}"><button class="btn btn-info">Retour à mon test d'alcoolémie</button></a>
            
        </div>
    </div>
    {# <a href="{{ path('profile_index') }}">back to list</a> #}

    {# {{ include('profile/_delete_form.html.twig') }} #}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var percentAlcohol = document.getElementById('current_drink_degree').value;
        var degree = percentAlcohol * 100
       var test = document.getElementById('current_drink_degree').setAttribute('value', degree)

let url = document.location.href;
let indexUrl = url.indexOf('profile');
       

let beginUrl = url.substring(0 , indexUrl)
let drinkUrl = beginUrl + 'drink_type/json/'

var select = document.getElementById("current_drink_drink_type");
select.addEventListener("change",function(){
    axios.get(drinkUrl + this.value).then(res => {
        document.getElementById('current_drink_degree').value =res.data.degree*100
        });
    })
    </script>
{% endblock %}
