{% extends 'base.html.twig' %}

{% block title %}New Profile{% endblock %}

{% block body %}
<div class="container">
  <div class="row justify-content-md-center">
    <h1>Calculer mon taux d'alcoolémie</h1>

    <p>Vous souhaitez prendre le volant en toute sécurité ? Faire attention à votre santé ou encore connaître votre limite pour éviter le pire ?</p>
    <p>Cet outil est fait pour vous ! Rentrez vos caractéristiques et suivez l'évolution de votre taux d'alcoolémie</p>

    {{ include('profile/_form.html.twig') }}
</div>
  </div>
    {# <a href="{{ path('profile_index') }}">back to list</a> #}
{% endblock %}
