@import "global.scss";
body {
    background-color: #DEDCDC;
}
h1 {
    color : #004192 
}
.profile_form{
    padding: 2% ;
    background-color: rgb(209, 209, 209); 
    border-radius: 5px;
}
#date{
    float: left;
    font-size:24px;
}

.navbar {
    --bs-bg-opacity: 1;
}
.h1s{
    color:white;
}
.header-nav{
    color:white !important;
}
#rectangler{
	width: 50px;
	height:5px;
	background:red;
    float : left;
    display:inline ;
    margin-top:10px;
}
#rectangleo{
    width: 50px;
	height:5px;
	background:orange;
    float : left;
    display:inline ;
    margin-top:10px;
}
#rectangleg{
    width: 50px;
	height:5px;
	background:#518abd;
    float : left;
    display:inline ;
    margin-top:10px;
}

.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    float: left;
    margin-top:8px;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
.legendred{
    display:inline;
    float : left;
}
.legendblue{
    display:inline;
    float : left;
}
.legendgreen{
    display:inline;
    float : left;
    
}
html,body{
    margin:0 ;
    display:table ; 
    height:100% ;
    width: 100%
}
html, body, #container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#anychart-credits{
    visibility: hidden !important;
}
.resultGram{
    border: 3px #518abd solid;
    border-radius: 5px;
    width: 80%;
}
.titleResult{
    color:white;
    font-size: 2.3rem;
}
.headResult{
    background-color: #4CAF50;
    text-align: center;
}
.gpad{
    margin-bottom: 0;
    text-align:center;
    margin-top: 18px;
}
.gl{
    color: #4CAF50;
}
#picG{
    color:#4CAF50
}

#g{
    color:#4CAF50;
    font-size: 45px;
    text-align: center;
}
.colorResult{
    color:#4CAF50;
    font-size: 18px;
    text-align:center;
}
.imgResult{
    text-align: center;
}
.resultContent{
    background-color: white;
    // border: #4CAF50 3px solid
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.driveOK{
    color:#4CAF50;
}
.prevention{
    color:red;
    text-align: center;
    background-color:#e6ecf6 ;
}
.hour{
    color:#004192
}
.infoResult{
    border: solid #e6ecf6 2px;
    background-color:#e6ecf6 ;
    margin-top: 10px;
    margin-bottom:10px;
    border-radius:4px;
}
.backPrev{
    background-color: #e6ecf6 ;
}
.law{
    background-color:white;
    border-top: #4CAF50 solid 2px;
    // border-bottom: #4CAF50 solid 2px;
    color: #4CAF50;
    padding-top:10px;
    padding-bottom:10px;

    text-align: center;
}
.contentLaw{
 
    background-color: white;
    color:#4CAF50;
    text-align:center;
    border-bottom: #4CAF50 solid 2px;
  
}
h3{
    font-size: 2.1rem;
}
.textLaw{
    background-color:#e6ecf6;
    margin-left: 15%;
    margin-right: 15%;
    text-align: start ;
    border-radius: 5px;
}
.law02{
    display:none;
}
.law05{
    display:none;
}
.law08{
    display:none;
}
li{color:#004192}
.graph{
    width:95%
}
.irt{
    border:#4CAF50 solid 2px;
    background-color:white;
    margin-bottom: 20px;

}
.titleIRT{
    // border-top:#4CAF50 solid 2px;
    // border-left:#4CAF50 solid 2px;
    // border-right:#4CAF50 solid 2px;
    text-align: center;
    color:white;
    background-color:#4CAF50 ;
}
.gramIRT{
    border:#4CAF50 solid 2px;
    width:50%;
    margin-left: 20%;
    margin-top:20px;
}
#glIRT{
    font-size:30px;
    text-align: center;
    padding-left: 40%;
    color:#4CAF50;
}
.lawChangeIRT{
    text-align:center;
    color:#4CAF50;
    font-size: 18px;
    margin-top: 30px;
}
.lawIRT{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.titleLawirt{
    border-top: #4CAF50 solid 2px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    color: #4CAF50;

}
.textLawIRT{
    background-color:#e6ecf6;
    margin-left: 15%;
    margin-right: 15%;
    text-align: start ;
    border-radius: 5px;
}
.law02IRT{
    display:none;
}
.law05IRT{
    display:none;
}
.law08IRT{
    display:none;
}
footer{

    background-color: #518abd;
    display:table-row ;
    height: 1px;
    color: white;
    text-align: center;

}
.btn{margin: 5px !important}
@media screen and (max-width: 572px) {
    .responsif{display: none;}
  }



