<form method="post" action="{{ path('drink_type_delete', {'id': drink_type.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ drink_type.id) }}">
    <button class="btn  btn-danger">Supprimer</button>
</form>
