{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
         {{ form_row(form.name) }}
      {{ form_row(form.degree) }}
    <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
    <br>
{{ form_end(form) }}
<br>
