{% extends 'base.html.twig' %}

{% block title %}Edit DrinkType{% endblock %}

{% block body %}
<div class="container">
  <div class="row justify-content-md-center">
    <h1>Modifier le type d'alcool</h1>
    
    
    {{ include('drink_type/_form.html.twig', {'button_label': 'Modifier'}) }}
  
    {{ include('drink_type/_delete_form.html.twig') }}

   <a href="{{ path('drink_type_index') }}"><button class="btn btn-info">Retour à la liste</button></a>


    
    </div>
        </div>
        <script>
        let percentAlcohol = document.getElementById('drink_type_degree').value;
        let degree = percentAlcohol * 100
        let changeDegree = document.getElementById('drink_type_degree').setAttribute('value', degree)
        </script>
{% endblock %}
