{% extends 'base.html.twig' %}

{% block title %}DrinkType index{% endblock %}

{% block body %}
<div class="container">
  <div class="row justify-content-md-center">
    <h1>Index des types d'alcools</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Degrés</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for drink_type in drink_types %}
            <tr>
                <td>{{ drink_type.name }}</td>
                <td>{{ drink_type.degree * 100 }}</td>
                <td>
                    <a href="{{ path('drink_type_show', {'id': drink_type.id}) }}"><button class="btn btn-secondary">Voir</button></a>
                    <a href="{{ path('drink_type_edit', {'id': drink_type.id}) }}"><button class="btn btn-warning">Modifier</button></a>
                </td>
            </tr>
         {% else %}
            <tr>
                <td colspan="4">Pas de type d'alcool inscrit</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('drink_type_new') }}"><button class="btn btn-primary">Créer un nouvel alcool</button></a>
    </div>
</div>
{% endblock %}
