{% extends 'base.html.twig' %}

{% block title %}New DrinkType{% endblock %}

{% block body %}
<div class="container">
  <div class="row justify-content-md-center">
    <h1>Créer un nouveau type d'alcool</h1>
    

    {{ include('drink_type/_form.html.twig') }}

   <a href="{{path('drink_type_index')}}"><button class="btn btn-info">Retour à la liste</button></a>
    </div>
  </div>
{% endblock %}
