{% extends 'base.html.twig' %}

{% block title %}DrinkType{% endblock %}

{% block body %}
    <h1>Types d'alcools</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ drink_type.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ drink_type.name }}</td>
            </tr>
            <tr>
                <th>Degrés</th>
                <td>{{ drink_type.degree * 100 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('drink_type_index') }}"><button class="btn btn-info">Retour à la liste</button></a>

    <a href="{{ path('drink_type_edit', {'id': drink_type.id}) }}"><button class="btn btn-warning">Modifier</button></a>

    {{ include('drink_type/_delete_form.html.twig') }}
{% endblock %}
